[
  {
    "scope": "https://lambda.us-west-2.amazonaws.com:443",
    "method": "GET",
    "path": "/2019-09-30/functions/service-search-api-local-dev-apiRouter/provisioned-concurrency?Qualifier=provisioned",
    "body": "",
    "status": 404,
    "response": {
      "Type": "User",
      "message": "No Provisioned Concurrency Config found for this function"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-RequestId",
      "61ab1cd0-c52c-4959-8323-01766a237336",
      "x-amzn-ErrorType",
      "ProvisionedConcurrencyConfigNotFoundException"
    ],
    "reqheaders": {
      "authorization": "^AWS4-HMAC-SHA256 Credential=.+$",
      "x-amz-content-sha256": "^[a-f0-9]{64}$",
      "x-amz-date": "^[0-9]{8}T[0-9]{6}Z$",
      "amz-sdk-invocation-id": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
      "amz-sdk-request": "attempt=1; max=3",
      "x-amz-user-agent": "aws-sdk-js/3.369.0"
    },
    "responseIsBinary": false
  },
  {
    "scope": "https://lambda.us-west-2.amazonaws.com:443",
    "method": "GET",
    "path": "/2015-03-31/functions/service-search-api-local-dev-apiRouter/aliases/provisioned",
    "body": "",
    "status": 404,
    "response": {
      "Message": "Cannot find alias arn: arn:aws:lambda:us-west-2:292425509451:function:service-search-api-dev-apiRouter:provisioned",
      "Type": "User"
    },
    "rawHeaders": [
      "Content-Type",
      "application/json",
      "x-amzn-RequestId",
      "358c10f3-25a3-4853-b120-15c1959dd1c1",
      "x-amzn-ErrorType",
      "ResourceNotFoundException"
    ],
    "reqheaders": {
      "authorization": "^AWS4-HMAC-SHA256 Credential=.+$",
      "x-amz-content-sha256": "^[a-f0-9]{64}$",
      "x-amz-date": "^[0-9]{8}T[0-9]{6}Z$",
      "amz-sdk-invocation-id": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
      "amz-sdk-request": "attempt=1; max=3",
      "x-amz-user-agent": "aws-sdk-js/3.369.0"
    },
    "responseIsBinary": false
  }
]
