[
  {
    "scope": "https://sqs.us-west-2.amazonaws.com:443",
    "method": "POST",
    "path": "/",
    "body": {
      "AttributeNames": [
        "RedrivePolicy"
      ],
      "QueueUrl": "https://sqs.us-west-2.amazonaws.com/XXXXXXXXXXXX/queueUrlOne"
    },
    "status": 200,
    "response": {
      "Attributes": {
        "RedrivePolicy": "{\"deadLetterTargetArn\":\"arn:aws:sqs:us-west-2:123456789012:queueNameDlq\",\"maxReceiveCount\":10}"
      }
    },
    "rawHeaders": [
      "x-amzn-RequestId",
      "809a243a-3460-5dd8-8390-730032387781",
      "Content-Type",
      "text/xml"
    ],
    "responseIsBinary": false,
    "reqheaders": {
      "authorization": "^AWS4-HMAC-SHA256 Credential=.+$",
      "content-type": "application/x-amz-json-1.0",
      "x-amz-content-sha256": "^[a-f0-9]{64}$",
      "x-amz-date": "^[0-9]{8}T[0-9]{6}Z$",
      "amz-sdk-invocation-id": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
      "amz-sdk-request": "attempt=1; max=3",
      "x-amz-user-agent": "^aws-sdk-js/[0-9]+.[0-9]+.[0-9]+$",
      "x-amz-target": "AmazonSQS.GetQueueAttributes"
    }
  },
  {
    "scope": "https://sqs.us-west-2.amazonaws.com:443",
    "method": "POST",
    "path": "/",
    "body": {
      "Entries": [
        {
          "Id": "abd68593d6134fa514e26e5ff6b86dbf4626e639",
          "MessageBody": "{\"name\":\"auto-retry\",\"retrySettings\":{\"maxAgeInSec\":60},\"__meta\":{\"failureCount\":1,\"timestamp\":\"2020-05-15T19:55:35.712Z\",\"trace\":[\"auto-retry\"]}}"
        }
      ],
      "QueueUrl": "https://sqs.us-west-2.amazonaws.com/123456789012/queueNameDlq"
    },
    "status": 200,
    "response": {
      "Successful": [
        {
          "Id": "abd68593d6134fa514e26e5ff6b86dbf4626e639",
          "MessageId": "8085f0e3-a423-447e-9c89-3463acc149ef",
          "MD5OfMessageBody": "d74ea19de2acb698422c3a4b5bd98ef3"
        }
      ],
      "Failed": []
    },
    "reqheaders": {
      "authorization": "^AWS4-HMAC-SHA256 Credential=.+$",
      "content-type": "application/x-amz-json-1.0",
      "x-amz-content-sha256": "^[a-f0-9]{64}$",
      "x-amz-date": "^[0-9]{8}T[0-9]{6}Z$",
      "amz-sdk-invocation-id": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
      "amz-sdk-request": "attempt=1; max=3",
      "x-amz-user-agent": "^aws-sdk-js/[0-9]+.[0-9]+.[0-9]+$",
      "x-amz-target": "AmazonSQS.SendMessageBatch"
    }
  }
]
