[
  {
    "scope": "https://sqs.us-west-2.amazonaws.com:443",
    "method": "POST",
    "path": "/",
    "body": {
      "AttributeNames": [
        "RedrivePolicy"
      ],
      "QueueUrl": "https://sqs.us-west-2.amazonaws.com/XXXXXXXXXXXX/queueUrlOne"
    },
    "status": 200,
    "response": {
      "Attributes": {
        "RedrivePolicy": "{\"deadLetterTargetArn\":\"arn:aws:sqs:us-west-2:123456789012:queueName\",\"maxReceiveCount\":10}"
      }
    },
    "rawHeaders": [
      "x-amzn-RequestId",
      "809a243a-3460-5dd8-8390-730032387781",
      "Content-Type",
      "text/xml"
    ],
    "responseIsBinary": false,
    "reqheaders": {
      "authorization": "^AWS4-HMAC-SHA256 Credential=.+$",
      "content-type": "application/x-amz-json-1.0",
      "x-amz-content-sha256": "^[a-f0-9]{64}$",
      "x-amz-date": "^[0-9]{8}T[0-9]{6}Z$",
      "amz-sdk-invocation-id": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
      "amz-sdk-request": "attempt=1; max=3",
      "x-amz-user-agent": "^aws-sdk-js/[0-9]+.[0-9]+.[0-9]+$",
      "x-amz-target": "AmazonSQS.GetQueueAttributes"
    }
  }
]
